{% extends "base_generic.html" %}

{% block title %}GTD - Details View {% endblock title%}

{% block content %}

<h1>{{ capture.capture_text }}</h1>
<div>
    {{ capture.capture_date }}
</div>

<form action="/capture/{{capture.id}}/" method="POST"> 
  <div class="form-row">
    <div class="form-group col-md-6" style="max-width: 300px">
      <label for="inputNextAction">Next action:</label>
      {% csrf_token %}
      <input type="text" class="form-control" name="detail" value="{% if capture.notes %}{{capture.notes}}{% endif %}" autofocus>
    </div>
    <div class="form-group col-md-6" style="max-width: 300px">
      <label for="chooseDate">When:</label>
      <input type="date" class="form-control" name="date" value="{% if capture.due_date %}{{capture.due_date}}{% endif %}">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock content%}