{% extends "base_generic.html" %}

{% block title %}GTD - Details View {% endblock title%}

{% block content %}

<h1>{{ capture.capture_text }}</h1>
<div>
    {{ capture.capture_date }}
</div>

<form action="/capture/8/" method="POST"> 
  <div class="form-group" style="width: 50%">
    <label for="exampleFormControlTextarea1">Next action:</label>
    {% csrf_token %}
    <input type="text" class="form-control" style="width: 250px" name="detail" value="{% if capture.notes %}{{capture.notes}}{% endif %}" autofocus>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<form>
  Birthday:
  <input type="date" name="bday">
</form>

{% endblock content%}