{% extends "base_generic.html" %}

{% block content %}
 {% load static %}
<div class="flex-container">
    <div class="menu-left">
        <div>
            <a href= {% url 'capture:index' %}>Inbox ({{ amount }})</a>
        </div>
        <div>
            <a href= {% url 'capture:index' %}>Menü 2</a>
        </div>
        <div>
            <a href= {% url 'capture:index' %}>Menü 3</a>
        </div>
        <div>
            <a href= {% url 'capture:index' %}>Menü 4</a>
        </div>
        <div>
            <a href= {% url 'capture:index' %}>Menü 5</a>
        </div>
    </div>
    <div class="item">
        <h1>Things to do</h1>
        <form action="{% url 'capture:capture' %}" method="POST">
            <div class="form-group">
                {% csrf_token %}
                <input type="text" class="form-control" style="width: 250px" name="capture" value="" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if all_capture_list %}
            <br>
            <ul class="list-group">
            {% for capture in all_capture_list %}
                <li class="list-group-item"><input type="checkbox" name="{{ capture.id }}">&nbsp;&nbsp;&nbsp;<a href={% url 'capture:detail' capture.id %} style="color:black">{{ capture.capture_text }}</a>
                <a href="https://www.w3schools.com"><img src="{% static 'capture/images/cancel.png' %}" border="0" ></a></li>
            {% endfor %}
            </ul>
    </div>
    <div class="menu-right">
        This is the right menu        
    </div>
</div>

{% else %}
    <p>No captures are available.</p>
{% endif %}

{% endblock content%}

